.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #1C1E22; /* Charcoal Gray */
  color: #F5F5F5; /* Ivory White */
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #F5F5F5; /* Ivory White */
}

.login-input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 300px;
  border: 1px solid #4682B4; /* Steel Blue */
  border-radius: 5px;
  background-color: #0B0C10; /* Jet Black */
  color: #F5F5F5; /* Ivory White */
}

.login-button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: #8B0000; /* Crimson Red */
  color: #F5F5F5; /* Ivory White */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #A67C00; /* Burnished Gold */
}

.create-profile-link a {
  color: #4682B4; /* Steel Blue */
  text-decoration: none;
}

.create-profile-link a:hover {
  color: #A67C00; /* Burnished Gold */
}
